{
  "DATABASE_NAME": "consistency_tracker_dev2.db",
  "SYNC_ADMIN_EMAIL": "admin@example.com",
  "SYNC_ADMIN_PASSWORD": "changeme",
  "SYNC_DEV_EMAIL": "dev@example.com",
  "SYNC_DEV_PASSWORD": "changeme"
}
